# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
.cache
*.tsbuildinfo

# Environment files
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.local